@charset "UTF-8";
/* CSS Document */
body {
	background-color:#000000;
	font-style: normal;
}

div {
	background-color:#1BD100;
	background-size : cover;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	width: 0px;
	
}
h1 {
	
	align-content: center;
	background-size : cover;
	background-color: #FFFFFF;
}

.nav {
	background-color: #1BD100;
	color:#000000;
}

p1 { color: aliceblue
	
	
}